body {
  font-family: OpenSans, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  height: 90%;
  margin-top: 12px;
}

.header {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 50px;
}

h1 {
  text-align: center;
  padding-top: 5vh;
  color: #222;
}

.explanation {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #333;
}

.splash {
  background-color: #f6f6f6;
  position: relative;
  text-align: center;
}

.splash h1 {
  margin-bottom: 30px;
}

.splash-bottom {
  margin-top: 20px;
  text-align: center;
}

.splash img {
  height: 35vh;
}

.image {
  text-align: center;
}

.image img {
  max-width: 750px;
}

.benefits {
  max-width: 800px;
  margin: 50px auto 50px auto;
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
}

.benefits li {
  width: 33%;
  float: left;
  text-align: center;
  padding: 0 25px;
  box-sizing: border-box;
}

.benefits .fa {
  font-size: 40px;
  padding-bottom: 30px;
}

.section {
  margin-top: 60px;
  clear: both;
  overflow: auto;
}

.buy {
  background-color: #fff;
  text-align: center;
  padding-bottom: 1em;
}

.buy h1 {
  margin: 0 0 1em 0;
}

.footer {
  background-color: #222;
  color: #eee;
  text-align: center;
  font-size: 12px;
  padding: 1em;
  margin-top: 100px;
}

.footer a {
  color: #fff
}

.buy-button {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .explanation {
    padding: 20px;
  }

  .benefits li {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
}

.warning {
  background-color: #ff6666;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 1em;
  padding: 1em;
}

.hide {
  display: none;
}